<p id="notice"></p>
<p>
  <strong>Name:</strong>
  <%#= @comment.user.First_Name %> 
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.Comment %>
</p>

    <%= link_to 'Edit', edit_comment_path(@comment) %> |
    <%= link_to 'Back', comments_path %>
